body {
  background-color: #fdfaf3;
  font-family: "Times New Roman", serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.logo {
  width: 96px;
  border: 3px solid #800020; 
  border-radius: 50%;
  background-color: #fff;
  padding: 6px;
  display: block;
  margin: 12px auto;
}

.text-vinho {
  color: #800020;
}

.titulo {
  color: #800020;
  font-size: 28px;
  margin-bottom: 15px;
}

.btn-vinho {
  background-color: #800020;
  border: 2px solid #b8860b;
  color: white;
}
.btn-vinho:hover {
  background-color: #b8860b;
  color: #800020;
}
